// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex>div{
  display: flex;
  flex-direction: column;
}

.item_show{
  margin-top: 100px;
  width:80%;
  display: flex;
  justify-content: center;
}

.item{
  margin:0 50px;
  text-align: center;
}

.item_price{
  margin-top: 50px;
  font-weight: bold;
}

.genre_serach{
  border: 2px solid ;
  border-color: brack;
  padding: 10px;
}
